# Default versions of tools, to update these, set [tools.override]
[tools]
dprint = "latest"
golang = "1.25.5"
golangci-lint = "2.6.2"
goreleaser = "latest"
gotestsum = "1.13.0"
"go:golang.org/x/tools/cmd/goimports" = "latest"
shfmt = "latest"

[tasks.build]
description = "Build a binary for the current platform/architecture"
run = "go build -trimpath -o ./bin/ -v ./cmd/..."

[tasks.changelog]
description = "Generate a changelog for the current version"
outputs = ["CHANGELOG.md"]
run = ["git-cliff --config .cliff.toml --output CHANGELOG.md"]
tools.git-cliff = "latest"

[tasks.fmt]
alias = "format"
description = "Format code"
run = [
	"go mod tidy",
	"gofmt -s -w .",
	"goimports -w .",
	"shfmt -w .",
	"dprint fmt '**/*.{json,yaml,yml,md,jsonschema.json}'",
]

[tasks.lint]
description = "Run linters"
run = "golangci-lint run"

[tasks.next-version]
description = """Get the version number that would be released if a release was ran right now.
Pass --rc to get the next release candidate version.
"""
run = ["./.github/scripts/get-next-version.sh"]
tools.svu = "latest"

[tasks.test]
description = "Run tests"
run = "gotestsum"

## <<Stencil::Block(custom)>>
[tasks.generate]
description = "Generate code and documentation"
run = [
	"go generate ./...",
	"mise run docgen",
	"mise run schemagen",
	"mise run fmt",
]

[tasks.docgen]
description = "Generate documentation based on Stencil template functions"
run = "go run ./tools/docgen/docgen.go"

[tasks.schemagen]
description = "Generate JSON schema files for stencil configuration files"
run = "go run ./tools/schemagen/schemagen.go"

[tasks.update-readme-toc]
description = "Update the TOC in the README"
run = ["mdtoc --inplace --max-depth=5 README.md"]

[alias]
dprint = "ubi:dprint/dprint"
golangci-lint = "aqua:golangci-lint"
git-cliff = "ubi:orhun/git-cliff"
goreleaser = "aqua:goreleaser/goreleaser"

[settings]
# Conflicts with bun, and we don't use it anyways.
disable_tools = ["node"]
# We prefer other backends than asdf.
disable_backends = ["asdf"]

## <</Stencil::Block>>
