# Default versions of tools, to update these, set [tools.override]
[tools]
golang = "1.22"
git-cliff = "latest"
shfmt = "3"
golangci-lint = "1.59"
goreleaser = "latest"
bun = "latest"
"go:gotest.tools/gotestsum" = "v1.12.0"
"go:golang.org/x/tools/cmd/goimports" = "latest"

[tasks.build]
description = "Build a binary for the current platform/architecture"
run = "go build -trimpath -o ./bin/ -v ./cmd/..."

[tasks.test]
description = "Run tests"
run = "gotestsum"

[tasks.lint]
description = "Run linters"
run = "golangci-lint run"

[tasks.fmt]
alias = "format"
description = "Format code"
run = [
  "go mod tidy",
  "gofmt -s -w .",
  "goimports -w .",
  "shfmt -w -i 2 -ci -sr .",
]

## <<Stencil::Block(custom)>>
[tasks.next-version]
description = "Get the version number that would be released if a release was ran right now"
run = ["go run github.com/thenativeweb/get-next-version@latest --prefix v"]

[tasks.update-readme-toc]
description = "Update the TOC in the README"
run = ["go run sigs.k8s.io/mdtoc@latest --inplace --max-depth=5 README.md"]

[tasks.changelog]
description = "Generate a changelog for the current version"
outputs = ["CHANGELOG.md"]
run = ["git-cliff --config .cliff.toml --output CHANGELOG.md"]

[settings]
# Conflicts with bun, and we don't use it anyways.
disable_tools = ["node"]
## <</Stencil::Block>>
