:root {
  --vp-c-brand-1: #d3183a;
  --vp-c-brand-2: #c42b47;
  --vp-c-brand-3: #bb4963;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #d11336 60%, #FFFFFF);
}
