on:
  pull_request:
    branches:
      - main

concurrency:
  group: stencil-docs-build-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # for lastUpdated
      - uses: jdx/mise-action@v2
        with:
          experimental: true
        env:
          GH_TOKEN: ${{ github.token }}
      - run: bun install
        working-directory: docs
      - run: bun run docs:build
        working-directory: docs
