name: tests
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  gotest:
    name: go test
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/rtx-action@v1
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Run go test
        run: |
          go run gotest.tools/gotestsum@latest -- -coverprofile=cover.out ./...
      - name: Upload test coverage
        uses: codecov/codecov-action@v4.0.0-beta.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./cover.out
          fail_ci_if_error: true

  golangci-lint:
    name: golangci-lint
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/rtx-action@v1
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Retrieve golangci-lint version
        run: |
          echo "version=$(rtx current golangci-lint)" >> "$GITHUB_OUTPUT"
        id: golangci_lint
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v${{ steps.golangci_lint.outputs.version }}
          args: --timeout=30m
